<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express Skills</h1> 
    <a href="/">Home</a> 
    <a href="/skills">Skills</a>
    

    
    